

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: Montserrat;
}

header .video{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 5;
    filter: blur(3px);
    transform: scale(1.04);
}

header:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.74);
    z-index: 10;
}

.header-top{
    z-index: 10;
    font-weight: 500;
    font-size: 12px;
    padding: 32px 0;
}

.header-top a{
    color: #fff;
}

.header-top_infolist li{
    margin-right: 28px;
    min-width: 53px;
}

.header-top_infolist li a:hover{
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom:3px solid #f14d34;
}

.header-top_infolist li:first-child{
    min-width: 141px;
}

.header-top_logo{
    margin-right: 60px;
    float: left;
}

.header-top_info{
    float: left;
}

.header-top_logo img{
    max-width: 175px;
}

header .container{
    position: relative;
    z-index: 15;
} 

.header-wrapper{
    padding: 10px 0 90px;
}

.header-main-wrapper{
    margin-top: 10px;
}

.header-rates_title{
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.header-rates_description{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    color: rgba(255,255,255,.8);
    margin-bottom: 55px;
}

.header-rates_btn{
    
}

.header-rates_btn a{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    padding: 22px 20px;
    width: 220px;
    max-width: 100%;
    text-align: center;
    border: 2px solid #f14d34;
    border-radius: 5px;
    transition: background 280ms;
    margin-bottom: 45px;
}

.header-rates_btn a:hover{
    background: #f14d34;
    text-decoration: none;
    color: #fff;
}

.header-rates_description{
    
}

.block-success{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.block-success-wrapper{
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
    height: 100%;
}

.block-success-title1{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;    
    font-size: 48px;
    margin-top: -22px;
}

.block-success-title{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}

.block-success-description{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(255,255,255,.7);
}

.main-description-firstblock{
    margin-bottom: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}

.main-description-firstblock-title{
    font-weight: bold;
    font-size: 42px;
    color: #050c33;
    margin: 150px 0 20px; 
}

.main-description-firstblock-descr{
    max-width: 465px;
}

.abilities-row{
    margin-top: 55px;
}

.abilities-body{
    font-size: 14px;
    text-align: justify;
}

.abilities-wrapper{
    margin-bottom: 55px;
}

.abilities-title{
    margin-bottom: 10px;
}

.main-description-secondblock{
    margin-top: 100px;
        margin-right: 0!important;
}

.block-title{
    margin-bottom: 55px;
    text-align: center;
    color: #050c33;
    font-weight: bold;
    font-size: 42px;
}

.superiority{
    background: #fff;
    border-radius: 5px;
    box-shadow: 20px 35px 40px rgba(5,12,51,0.05);
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 292px;
    margin-left: -12px;
    margin-right: -12px;
}

.superiority-col{
    margin-bottom: 8px;
}

.superiority span{
    font-weight: bold;
    font-size: 12px;
    color: #828a9b;
}

.superiority-title {
    font-weight: bold;
    font-size: 18px;
    color: #050c33;
    line-height: 1.22;
    margin-bottom: 15px;
    margin-top: 16px;
}

.superiority-body{
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
}

.superiority-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.expertise{
    padding: 380px 0 150px;
    position: relative;
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),#040613;
    font-family: Montserrat;
    color: #fff;
    z-index: -1;
}

.expertise-col {
    margin-bottom: 30px;
}

.expertise-item-body { 
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-left: 3px solid #f14d34;
    font-weight: 500;
    font-size: 16px;
    color: rgba(256,256,256,.7);
    width: 260px;
    max-width: 100%;
    min-height: 88px;
    height: 100%;
}

.expertise a {
    color: #f14d34;
    text-decoration: none;
}

.expertise h2 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 65px;
    color: #fff;
}

.expertise-img {
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    max-width: 735px;
}

.expertise-img img {
    width: 100%;
    height: auto;
    transform: translateY(8%);
}

.superiority-row {
    margin-bottom: -212px;
}


.main-description-secondblock-wrap{
    margin-right: -12px;
}

.block-tariffs .block-title {
    margin-top: 0;
    margin-bottom: 65px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 42px;
}

.tariff {
    height: auto;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 70px 20px 60px;
    background: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 631px;
    margin-bottom: 30px;
    max-width: 550px;
}

.tariff:hover{
    transition: all 500ms;
    transform-origin: center;
}

.tariff-wrapper {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-bottom: 80px;
}

.tariff-header {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 50px;
}

.tariff-title {
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    color: #f14d32;
    line-height: 1.3;
}

.block-tariffs {
    padding: 160px 0 90px;
    font-family: Montserrat;
    background: url(/img/bg-i.svg) no-repeat right top,#fff;
    background-size: 58%;
}

.tarrif-body-item {
    margin-bottom: 18px;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    color: #4e5972;
    font-weight: 500;
}

.tariff-footer-btn {
    text-decoration: none;
    display: block;
    border-radius: 5px;
    color: #f14d34;
    border: 1px solid #f14d34;
    text-align: center;
    padding: 20px 10px;
    line-height: 1;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
}

.tariff-footer-btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f14d34;
    transition: all 500ms;
    
}

.tariffs-ps {
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
    color: #828a9b;
    width: 475px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.tariffs-link {
    display: block;
    margin-top: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: #050c33;
    text-decoration: underline;
    transition: all 300ms;
}

.tariffs-link:hover{
    color: #f14d34;
    text-decoration: none;
}

.dev-time{
    margin-bottom: 60px;
}

.dev-time-icon {
    position: relative;
    margin-bottom: 30px;
}

.dev-time-icon img{
    padding-left: 40px;
}

.dev-time-body {
    font-weight: 500;
    font-size: 16px;
    color: #4f5a73;
}

.dev-time-time {
    font-size: 32px;
    margin-top: -20px;
    color: #050c33;
    font-weight: bold;
}

.team-content{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: Montserrat;
}

.user-teaser {
    text-align: left;
    margin-bottom: 70px;
}

.user-teaser-photo {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 25px;
}

.user-teaser-name a, .user-teaser-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.37;
    color: #050c33;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

.user-teaser-post, .user-teaser-in-team {
    padding: 0;
    color: #505570;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    margin-bottom: 5px;
}

.more-link{
    text-align: center;
    margin-bottom: 60px;
}

.team .more-link a {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #050c33;
    padding: 24px 75px;
    border: 1px solid #cccdd5;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

.view-content{
    display: flex;
    flex-wrap: wrap;
}

.blog.keys-1 {
    width: 33.333333%;
    padding: 0 10px;
    float: left;
    margin-bottom: 20px;
    font-family: Montserrat;
    overflow: hidden;
    cursor: pointer;
}

.keys-1__wrapper {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 475px;
}

.view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__picture, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__picture, .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__picture picture img, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__picture picture img {
    height: 215px;
}

.view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__picture, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__picture, .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__picture picture img, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__picture picture img {
    height: 215px;
}


.keys-1__picture {
    overflow: hidden;
    border-radius: 5px;
}

.keys-1__picture picture {
    height: 475px;
    border-radius: 5px;
    overflow: hidden;
}

.keys-1__picture picture img {
    border-radius: 5px;
    height: 100%;
    width: auto;
    max-width: initial;
    margin-left: 50%;
    transform: translateX(-50%);
}

.blog.keys-2 {
    width: 66.66666667%;
    padding: 0 10px;
    float: left;
    margin-bottom: 20px;
    font-family: Montserrat;
    overflow: hidden;
    cursor: pointer;
}

.keys-2__wrapper {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 475px;
}

.keys-2__picture {
    height: 100%;
}

.keys-2__picture div {
    height: 100%;
}

.keys-2__picture picture {
    height: 475px;
}

.keys-2__picture picture img {
    height: 100%;
}

.keys-2__container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 35px 40px;
}

.keys-2__header h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 5px;
    width: 320px;
    max-width: 100%;
}

.keys-2__header h2 a {
    color: #fff;
}

.keys-1__container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 50px 40px;
}

.keys-1__header h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 5px;
    width: 320px;
    max-width: 100%;
}

.keys-1__header h2 a {
    color: #fff;
}

.keys-1__header-date {
    color: #fff;
    opacity: .5;
    font-size: 12px;
    line-height: 1.25;
}

.view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__container, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__container {
    position: static;
    padding: 40px 30px 30px;
}

.view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__header h2 a, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__header h2 a {
    color: #050c33;
}

.keys-block{
    margin-bottom: 40px;
}



.slider-wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	align-items: center;
    max-width:980px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162,162,162,.25);
    border-radius: 5px;
    padding: 66px 0 66px 68px;
}


.slick-slider{
	min-width: 0;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	align-items: flex-start;
}

.slider {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #050c33;
	padding: 0px 60px;
    max-width: 590px;
    width: 64%;
    float: left;
    padding-right: 60px;
    border-right: 1px solid #cdcdcd;
    padding: 14px 60px;

}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
    border: 0;
}


.slider .slick-arrow.slick-prev{
	left: 75%;
	background: url('../img/arrow-left.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 7%;
	background: url('../img/arrow-right.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}


.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}

.reviews-text{
    margin-top: 12px;
        margin-bottom: 20px;
    }

.reviews-author{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #838b9c;
}

.slider2 .slick-arrow{
    opacity: 0;
    display: none!important;
}

.clients-tittle{
    
    width: 740px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: #505570;
    margin-bottom: 40px;
}

.clients-title-head{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #050c33;
    margin-bottom: 10px;
    margin-top: 0;
}

.clients {
    margin-top: 130px;
    margin-bottom: 120px;
}

.hhhhhhhhhhh{
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
}

.footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #e5e5e5;
}

.block-form-wrapper {
    width: 480px;
    max-width: 100%;
}

.block-form-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 1.215;
    margin-bottom: 20px;
}

.block-form-description {
    line-height: 1.55;
    font-weight: 500;
    font-size: 14px;
    color: rgba(256,256,256,.7);
    margin-bottom: 140px;
}

.block-form-contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-form-contacts ul li {
    margin-bottom: 12px;
}

.block-form-contacts .block-form-phone a {
    font-size: 32px;
}

.block-form-contacts .block-form-email a {
    text-decoration: underline;
}
 form {
    width: 480px;
    max-width: 100%;
    margin-left: auto;
}

.field--name-field-block-with-form-value form .form-group {
    margin-bottom: 7px;
}

.field--name-field-block-with-form-value form input, .field--name-field-block-with-form-value form textarea {
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 24px;
    color: #fff;
}

.field--name-field-block-with-form-value form input, .field--name-field-block-with-form-value form textarea {
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 24px;
    color: #fff;
}

.field--name-field-block-with-form-value .form-type-checkbox {
    position: relative;
}

.field--name-field-block-with-form-value .form-type-checkbox label {
    padding-left: 38px;
    font-size: 12px;
    color: #fff;
}

.field--name-field-block-with-form-value .form-type-checkbox input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    left: 6px;
    top: 12px;
    margin: 0;
}

.clients-title-descr{
    width: 740px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: #505570;
    margin-bottom: 40px;
}


.field--name-field-block-with-form-value .btn, .field--name-field-block-with-form-value .btn:focus, .field--name-field-block-with-form-value .btn:active {
    background: #f14d34;
    border: 2px solid #f14d34;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    outline: 0;
    box-shadow: none;
    margin: 0;
    display: block;
    width: 100%;
    padding: 20px 14px;
    line-height: 1;
    transition: background 300ms;
}

#block-copyright {
    position: static;
    padding: 0;
    margin-top: 71px;
}

block-copyright .field--name-body {
    padding-top: 56px;
}

.social-links {
    margin-bottom: 15px;
}

#block-copyright{
    border-top: 1px solid #fff;
    padding-top: 65px;
}

.block-form-contacts .block-form-phone a {
    font-size: 32px;
}

.block-form-contacts ul li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    line-height: 1.1;
}

footer {
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),url(/themes/bootstrap_dc/css/../images/D-flying.svg) no-repeat top center,url(/themes/bootstrap_dc/css/../images/D-footer.svg) no-repeat bottom right,#040613;
    padding: 117px 0 54px;
    color: #fff;
    font-family: Montserrat;
    
        margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: 1px solid #e5e5e5;
}

@media (max-width: 992px){
    .header-top .container{
        max-width: 920px;
    }
    .header-main-wrapper{
        flex-direction: column!important;
    }
    .block-successs-wrap{
        width: 85vw!important;
    }
    .expertise-img img {
        width: 100%;
        height: auto;
        transform: translateY(16%);
    }
    .expertise-img {
        position: relative;
        width: 70%;
    }
    .block-title{
        font-size: 32px!important;
    }
    .expertise .col-md-6 {
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .block-tariffs {
        background: url(../img/bg-i.svg) top,#fff;
        background-size: 100%;
    }
}

@media (max-width: 1199px){
    .header-top ul{
        margin-top: 10px;
    }
    .expertise-img {
    width: 60%;
}
}

@media (max-width: 767px){
    .header-rates{
        text-align: center;
    }
    .header-rates_title{
        font-size: 42px;
        line-height: 1.2;
        text-align: center;
}
    .header-top{
        position: fixed;
        bottom: -2px;
        top: auto;
        z-index: 100;
        left: 0;
        right: 0;
        padding: 0;
        background: #000;
        padding: 12px 0;
    }
    .header-top_info{
        display: none;
    }
    .block-success{
        margin-bottom: 30px;
    }
    .block-success-wrapper{
        width: 160px;
        max-width: 100%;
        }
    .main-description-firstblock-title{
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .abilities-wrapper{
        font-size: 14px;
        width: 200px;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .abilities-body {
        font-size: 14px;
        width: 200px;
        max-width: 100%;
        text-align: center;
    }
    .abilities{
        text-align: center;
    }
    .expertise{
        padding: 250px 0 150px;
    }    
    .block-title{
        font-size: 24px!important;
        margin-bottom: 20px!important;
        margin-top: 10px;
    }
    .dev-time-icon img {
        padding-left: 0;
    }
    .dev-time{
        text-align: center;
    }
    .views-row{
        padding: 0 35px 0!important;
    }
    .user-teaser-post {
        font-size: 12px;
    }        
        .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__wrapper, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__wrapper, .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1), .inverse .blog.keys-1:nth-of-type(4n+2) {
       height: auto;
    }
            .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1) .keys-1__picture, .inverse .blog.keys-    1:nth-of-type(4n+2) .keys-1__picture, .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1)     .keys-1__picture picture img, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__picture     picture img {
            height: auto;
            width: 100%;
        }
        .keys-1__container, .keys-2__container, .view:not(.inverse) .blog.keys-1:nth-of-type(4n+1)     .keys-1__container, .inverse .blog.keys-1:nth-of-type(4n+2) .keys-1__container {
        padding: 20px 15px 15px;
    }
    .blog.keys-1, .blog.keys-2 {
        width: 100%;
        min-height: 240px;
    }    
    .keys-1__content {
        font-size: 12px;
    }
    
    .slider{
        padding: 0;
        border-right: 0;
        border-bottom:1px solid #cdcdcd;
        max-width: 372px;
        padding-left: 15px;
        width: 100%;
    }
    
    .slider:first-child{
        
    }
    
    .slider .slick-arrow{
        bottom: 0;
        
    }
    
    .slider .slick-arrow.slick-prev
    {
        left: 30%;
        top: 92%;
    }
    
    .slider .slick-arrow.slick-next{
        right: 30%;
        top: 92%;
    }
    .slider-wrapper{
        padding: 70px;
        padding-bottom: 100px;
    }
    
}
@media (max-width: 575px){
    .block-successs-wrap {
        width: 100vw!important;
}
    .block-success {
        margin-top: 15px;
        margin-bottom: 15px;
}
    .header-rates {
        margin-bottom: 30px;
    }
    .header-rates_title{
        font-size: 24px!important;
    }
    .header-rates_description{
        font-size: 14px!important;
        text-align: center!important;
    }
    .expertise-img {
        width: 85%!important;
}
    .slider-wrapper{
        padding: 30px;
        padding-bottom: 100px;
    }
}

@media (max-width: 865px){
    .header-top_infolist li{
        margin-right: 17px!important;
  }
}

@media (min-width: 992px){
    .col-md-offset-6 {
        margin-left: 50%;
    }

}
